@font-face {
  font-display: swap;
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/dela-gothic-one-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/oswald-v57-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/oswald-v57-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/oswald-v57-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/oswald-v57-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Zain';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/zain-v4-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Zain';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/zain-v4-latin-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Zain';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/zain-v4-latin-700.woff2') format('woff2');
}

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --breakpoint-xs: 320px;

  --font-display: 'Dela Gothic One', display;
  --font-sans: 'Zain', sans-serif;
  --font-serif: 'Oswald', serif;

  --color-js: #f7df1e;
  --color-ts: #3178c6;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html {
  @apply bg-white text-zinc-800;
}
.dark {
  color-scheme: dark;
  @apply bg-zinc-800 text-zinc-100;
}

.bg-primary {
  @apply bg-[#F7DF1E] dark:bg-[#3178C6];
}

.bg-default {
  @apply bg-white dark:bg-zinc-800;
}
.bg-invert {
  @apply bg-zinc-800 dark:bg-white;
}
.text-invert {
  @apply text-zinc-100 dark:text-zinc-800;
}

.border-default {
  @apply border-zinc-800 dark:border-zinc-100;
}

.attention-primary {
  @apply hover:bg-js focus:bg-js dark:hover:bg-ts dark:focus:bg-ts transition duration-500 ease-out hover:scale-105;
}
