@import './fonts.css';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Zain', sans-serif;

  --color-cyan-50: #daf4f9;
  --color-cyan-100: #d6f3f8;
  --color-cyan-200: #ade7f1;
  --color-cyan-300: #84dceb;
  --color-cyan-400: #5bd0e4;
  --color-cyan-500: #32c4dd;
  --color-cyan-600: #289db1;
  --color-cyan-700: #1e7685;
  --color-cyan-800: #144e58;
  --color-cyan-900: #0a272c;
  --color-cyan-950: #092328;
}

html {
  @apply size-full max-h-screen max-w-screen bg-white transition-colors duration-500 dark:bg-black;
}

body {
  @apply relative size-full min-h-screen min-w-screen overflow-hidden text-gray-700 transition-colors duration-500 dark:text-gray-300;
}
